@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
  display: none !important;
}

@layer utilities {
  #sidebar.collapsed {
    margin-left: -280px;
  }

  #content.expanded {
    margin-left: 0;
    width: 100%;
  }
}
